.sensor{
    background-color: #93baff;
}

.atuador{
    background-color: #ffbf6c;
}

a{
    text-decoration: none;
    color: white;
    
}

.overlay{
    position:absolute;
}

/* .photo{
    width: 100%;
}  */

.loginForm
{
    margin-top: 50%;
}

.bc{
    background-color: #4a463d;
}

.barS{
    background-color: none;
    color: white;
    /* border-bottom: #93baff solid 1px; */
}